@{
	ViewData["Title"] = "Access Denied";
}


<div class="row">
	<div class="col-4 offset-4">
		<h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<h1 class="text-danger text-center mb-3"><i class="fa-solid fa-ban fa-beat-fade fa-3x" style="color: #ff0000;"></i></h1>
		<p class=" mb-5">Do not have access to the page!</p>
		<div class="text-center"><a asp-action="Index" asp-controller="Home" class="btn btn-danger">Go to Home Page!</a></div>
	</div>
</div>