@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Kendi Kişisel Sayfanızı Oluşturun</title>
  
  <link rel="stylesheet" type="text/css" href="css/style2.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>

      

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header stil */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

    .header img {
        height: 50px;
    }

    .header h1 {
        font-size: 36px;
        color: #333;
    }

/* Form stil */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

    .form h2 {
        font-size: 28px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .form label {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }

    .form input[type="text"],
    .form input[type="email"],
    .form input[type="tel"],
    .form textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        background-color: #f2f2f2;
    }

    .form input[type="file"] {
        margin-top: 10px;
    }

    .form textarea {
        height: 150px;
    }

    .form input[type="submit"] {
        background-color: #1874cd;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }

        .form input[type="submit"]:hover {
            background-color: #13549d;
        }


.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

    .footer p {
        margin: 0;
        font-size: 16px;
    }

    .footer a {
        color: #fff;
    }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: center;
}

#features .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#features .icon {
    margin-bottom: 10px;
    font-size: 2em;
}

.navbar-nav {
    margin-left: auto;
}

.testimonial-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.testimonials {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.testimonial-card {
    flex: 0 0 400px;
    margin-right: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.testimonial-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.testimonial-text {
    font-size: 16px;
    line-height: 1.5;
}

.testimonial-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
}

.testimonial-arrow {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .testimonial-arrow:hover {
        background-color: #555;
        color: #fff;
    }

.testimonial-arrow-left {
    position: absolute;
    left: 0;
}

.testimonial-arrow-right {
    position: absolute;
    right: 0;
}

.testimonials-wrapper {
    overflow-x: hidden;
}

.testimonials {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
}

.testimonial-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

    .testimonial-navigation a {
        color: #333;
        font-size: 24px;
        margin: 0 10px;
    }

        .testimonial-navigation a:hover {
            cursor: pointer;
        }

.prev {
    float: left;
}

.next {
    float: right;
}

.testimonial-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.testimonials {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.testimonial-card {
    flex: 0 0 400px;
    margin-right: 30px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.testimonial-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.testimonial-text {
    font-size: 16px;
    line-height: 1.5;
}

.testimonial-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .testimonial-navigation a {
        font-size: 30px;
        color: #ccc;
        text-decoration: none;
        transition: all 0.3s ease;
    }

        .testimonial-navigation a:hover {
            color: #666;
        }

    .testimonial-navigation .prev {
        margin-right: auto;
        transform: translateX(-20px);
    }

    .testimonial-navigation .next {
        margin-left: auto;
        transform: translateX(20px);
    }



.custom-button {
    padding: 12px 24px;
    font-size: 40px;
    background-color: #007bff;
    border: 2px solid #007bff;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
}

    .custom-button:hover {
        background-color: #fff;
        color: #007bff;
        cursor: pointer;
    }

.card-1 {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 20px;
    padding: 20px;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}

    .card-1 i {
        font-size: 2em;
        display: block;
        margin: 0 auto;
    }

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



    #features .card-1:nth-child(1) {
        background-color: #f26d6d;
        color: white;
    }

    #features .card-1:nth-child(2) {
        background-color: #ffa500;
        color: white;
    }

    #features .card-1:nth-child(3) {
        background-color: #ff69b4;
        color: white;
    }

    #features .card-1:nth-child(4) {
        background-color: #0080ff;
        color: white;
    }

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}



      .card:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.card-1 {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        padding: 20px;
        background-color: #f2f2f2;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card-1 h3, .card-1 p {
        display: inline-block;
        vertical-align: top;
    }

    .card-1 {
  position: relative;
  padding-bottom: 30px; 
}


}






  </style>
  
</head>
<body>
  
    <header>
      <h1>Kendi Kişisel Sayfanızı Oluşturun</h1>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kendi Kişisel Sayfanı Yap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="#">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">İletişim</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    </header>
    <main>
      <section id="hero">
        <div class="hero-text">
          <h2>Kendinize özgü bir sayfa oluşturun</h2>
          <p>Siz de kendinize özgü bir dijital varlığa sahip olmak istemez misiniz? Artık kendi kişisel sayfanızı oluşturma imkânına sahipsiniz! Web sitemizde yer alan kolay adımlarla, sadece birkaç dakika içinde kendi sayfanızı oluşturabilirsiniz.

</p>
        </div>
        <div class="hero-image">
          <img src="https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Hero Image">
        </div>
      </section>
      
      <section id="features">
  <div class="card-1">
    <i class="fa-solid fa-heart"></i>
    <h3>Kişisel bilgilerinizi ekleyin</h3>
    <p>Hakkınızda kısaca bilgi verin</p>
  </div>
  <div class="card-1">
    <i class="fa-solid fa-paper-plane mb-2"></i>
    <h3>Cv'nizi ekleyin</h3>
    <p>Yeteneklerinizi, deneyimlerinizi ve referanslarınızı ekleyin</p>
  </div>
  <div class="card-1">
    <i class="icon fa fa-briefcase"></i>
    <h3>Projelerinizi ekleyin</h3>
    <p>Projeniz hakkında bilgi verin ve projenize ait dosyaları yükleyin</p>
  </div>
  <div class="card-1">
    <i class="icon fa fa-envelope"></i>
    <h3>İletişim bilgilerinizi ekleyin</h3>
    <p>Telefon numaranız, e-posta adresiniz ve sosyal medya hesaplarınızı ekleyin</p>
  </div>
  <hr />

  <h2 class="mb-4">Sayfanızın İçeriğini Tamamladınız Şimdi ise Sıra Sayfanızın görünümünü ayarlamak</h2>


 <div class="card-1">
    <h3>Arkaplan Renginizi Seçin</h3>
    <p>İstediğiniz bir renk seçin</p>
</div>

<div class="card-1">
    <h3>Sayfanızda kullanmak istediğiniz fontu seçin</h3>
    <p>İstediğiniz bir font seçin</p>
</div>

<div class="card-1">
    <h3>Kullanmak istediğiniz fotoğrafları ve videoları seçin</h3>
    <p>Sayfanızda görünmesini istediğiniz içerikleri ekleyin</p>
</div>

  


  
</section>
<h2>Sayfayı Oluşturun ve İnsanlar ile Paylaşın...</h2>
<br />
<br />








<button id="createPagesButton" class="btn btn-primary custom-button">Kendi Kişisel Sayfanı Oluşturmak İçin Tıkla</button>

<h1>İnsanların Kendini tanıtığı sayfalara da ulaşabilirsiniz</h1>

<section id="user-pages">

    


  
</section>

      <section id="testimonials">
  <h2>Başka İnsanlar Ne diyor</h2>
  <div class="testimonial">
    <img src="/uploads/user.jpg" width="100" alt="Profile Picture">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    <p><em>- John Doe, Web Developer</em></p>
  </div>
  <div class="testimonial">
    <img src="/uploads/user.jpg" width="100" alt="Profile Picture">
    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."</p>
    <p><em>- Jane Smith, Graphic Designer</em></p>
  </div>
  
  
  <div class="testimonial-section">
  <div class="testimonials-wrapper">
    <div class="testimonials">
      <div class="testimonial-card">
        <img src="/uploads/user.jpg" alt="testimonial image" class="testimonial-image">
        <div class="testimonial-content">
          <h3 class="testimonial-name">John Doe</h3>
          <p class="testimonial-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nulla et enim lacinia laoreet. Sed eget enim quis sapien bibendum fermentum. Sed condimentum auctor leo vitae consequat."</p>
        </div>
      </div>
      <div class="testimonial-card">
        <img src="/uploads/user.jpg" alt="testimonial image" class="testimonial-image">
        <div class="testimonial-content">
          <h3 class="testimonial-name">Jane Doe</h3>
          <p class="testimonial-text">"Vivamus efficitur fringilla odio, vitae fermentum velit lobortis ac. Sed eget dui at felis consectetur volutpat eu in massa. Nulla aliquam est ac elit sollicitudin, id faucibus nisl lacinia."</p>
        </div>
      </div>
      <div class="testimonial-card">
        <img src="/uploads/user.jpg" alt="testimonial image" class="testimonial-image">
        <div class="testimonial-content">
          <h3 class="testimonial-name">Mike Smith</h3>
          <p class="testimonial-text">"Morbi eget libero vel neque rutrum tristique eu ut quam. Suspendisse faucibus dapibus enim ac lacinia. Integer non vestibulum velit. Aliquam dapibus magna eu urna tincidunt ultrices."</p>
        </div>
      </div>

      <div class="testimonial-card">
        <img src="/uploads/user.jpg" alt="testimonial image" class="testimonial-image">
        <div class="testimonial-content">
          <h3 class="testimonial-name">Mike Smith</h3>
          <p class="testimonial-text">"libero vel neque rutrum tristique eu ut quam. Suspendisse faucibus dapibus enim ac lacinia. Integer non vestibulum velit. Aliquam dapibus magna eu urna tincidunt ultrices."</p>
        </div>
      </div>

      <div class="testimonial-card">
        <img src="/uploads/user.jpg" alt="testimonial image" class="testimonial-image">
        <div class="testimonial-content">
          <h3 class="testimonial-name">Mike Smith</h3>
          <p class="testimonial-text">"eu ut quam. Suspendisse faucibus dapibus enim ac lacinia. Integer non vestibulum velit. Aliquam dapibus magna eu urna tincidunt ultrices."</p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial-navigation">
    <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
    <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>
  </div>
</div>



</section>

    </main>
    <footer>
      <p>&copy; 2023 Create Your Own Pages. Tüm hakları saklıdır.</p>
    </footer>
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  var testimonialSection = $('.testimonial-section');
  var testimonialCards = $('.testimonial-card');
  var testimonialNavigation = $('.testimonial-navigation');
  var testimonialNavNext = testimonialNavigation.find('.next');
  var testimonialNavPrev = testimonialNavigation.find('.prev');
  var testimonialCardWidth = testimonialCards.eq(0).outerWidth() + parseInt(testimonialCards.eq(0).css('margin-right'));
  var testimonialCardsVisible = Math.floor(testimonialSection.outerWidth() / testimonialCardWidth);
  var testimonialCardsTotal = testimonialCards.length;
  var testimonialCardsMove = testimonialCardsTotal - testimonialCardsVisible;
  var testimonialCardsCurrent = 0;
  
  function moveTestimonials(direction) {
    if (direction == 'next' && testimonialCardsCurrent < testimonialCardsMove) {
      testimonialCardsCurrent++;
    } else if (direction == 'prev' && testimonialCardsCurrent > 0) {
      testimonialCardsCurrent--;
    }
    testimonialCards.css('transform', 'translateX(-' + testimonialCardsCurrent * testimonialCardWidth + 'px)');
  }
  
  testimonialNavNext.on('click', function(e) {
    e.preventDefault();
    moveTestimonials('next');
  });
  
  testimonialNavPrev.on('click', function(e) {
    e.preventDefault();
    moveTestimonials('prev');
  });
});
</script>

<script>
$(document).ready(function() {
  // AJAX isteği ile verileri çek
  $.ajax({
    url: "@Url.Action("GetProjects", "Home")", // Verileri çekeceğimiz sayfa
    dataType: "json",
    type: "GET", // İstek tipi
    success: function(result) {
        console.log(result);
      // Verileri kullanarak kartları oluştur
      var html = '<div class="row">';
      result.forEach(function(project, index) {
        html += '<div class="col-md-6 col-lg-4 mb-4">';
        html += '<div class="card">';
        html += '<img src="' + project.ProjectImage + '" alt="' + project.Fullname + '" class="card-img-top">';
        html += '<div class="card-body">';
        html += '<h5 class="card-title">' + project.Fullname + '</h5>';
        html += '<p class="card-text">' + project.Description + '</p>';
        html += '<a href="' + project.ProjectURL + '" class="btn btn-primary">Go to page</a>';
        html += '</div></div></div>';
        
        // Her 3. kartın bir sonraki satırda başlaması için row sınıfını kullan
        if ((index + 1) % 3 == 0) {
          html += '</div><div class="row">';
        }
      });
      html += '</div>';
      $("#user-pages").append(html);
    },
    error: function() {
      alert("Verileri çekerken hata oluştu!");
    }
  });
});
</script>


<script>
    document.getElementById("createPagesButton").addEventListener("click", function() {
    window.location.href = "/Account/CreatePages";
});
</script>



