html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  h1{
      font-size:24px;
  }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px !important;
    }
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary-errors{    
    border:1px solid red;
    background-color:red;    
    padding:10px;
    border-radius:10px;
    
}

    .validation-summary-errors ul {
        list-style-type: none;
        color: #ffff;
        
    }

#createPagesButton {
    font-size: 2.5rem; 
    padding: 0.75rem 1.5rem; 
}

@media only screen and (max-width: 768px) {
    #createPagesButton {
        font-size: 1.25rem; 
        padding: 0.5rem 1rem; 
    }
}

@media screen and (max-width: 600px) {
    .testimonials-wrapper {
        display: block !important;
    }

    .testimonial-card {
        margin-bottom: 20px !important;
    }
}


